.topnav{
    overflow: hidden;
    background-color: #333;
}
.topnav a{
    float: left;
    display: block;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid snow;
}
.topnav a:hover:not(.now){
    color: #333;
    background-color: beige;
}
.now{
    background-color: chartreuse;
}